{% extends "base_template.html" %}
{% block content %}
<h2><font color="darkblue">OfficeCode:  {{npanxx}}</font></h2>
<h2><font color="darkblue">{{state_name}} - {{state}}</font></h2>
<h3><font color="darkblue">NPA-NXX info:&nbsp{{npanxx}}</font></h3>
{% for key, value in acoc_return.items() %}
      {{key}}:&nbsp&nbsp
      <b>{{value}}</b><br>
{% endfor %}
<br>
*Click link for all (ac-oc Codes) in RateCenter:&nbsp
<a href="{{LinkHome}}/ratecenter?rc={{RateCenter}}&state={{state}}&country={{country}}">{{RateCenter}}</a>
&nbsp within state:&nbsp <b>'{{state}}'</b>
<br>
*Click link for all (ac-oc Codes) belonging to Operating Company:&nbsp
<a href="{{LinkHome}}/company?ocn={{ocn}}&companyname={{companyname}}&state={{state}}&country={{country}}">{{ocn}}</a>
&nbsp within state:&nbsp <b>'{{state}}'</b>
<br><br>
<h3>Use - definitions</h3>
{% for key, value in use.items() %}
      <li><b>{{key}}:</b>
            {{value}}
{% endfor %}
<br><br>
<h3><font color="darkblue">NPA info:&nbsp{{npa_code}}</font></h3>
{% for key, value in ac_return.items() %}
      {{key}}:&nbsp&nbsp
      <b>{{value}}</b><br>
{% endfor %}
<br><br>
<img src="{{myurl}}{{USACMapFilePath}}{{state}}.gif"></img><br>
<img src="{{myurl}}{{USACMapFilePath}}{{state}}-inset1.gif"></img><br>
<img src="{{myurl}}{{USACMapFilePath}}{{state}}-inset2.gif"></img><br>
<img src="{{myurl}}{{StateFilePath}}{{state}}.png"></img><br>
{% endblock content %}
