{% extends "base_template.html" %}
{% block content %}
<h2><font color="darkblue">AreaCode:  {{npa_code}}</font></h2>
<h2><font color="darkblue">{{state_name}}</font></h2>
{% for key, value in ac_return.items() %}
      {{key}}:&nbsp&nbsp
      <b>{{value}}</b><br>
{% endfor %}
<br><br>

<h2> <font color="darkblue">OfficeCodes within AreaCode:&nbsp'{{npa_code}}'</font></h2>

{% for key, value in ac_oc_dict.items() %}
      <h3> <font color="darkblue">{{key}}:</font></h3>
      {% for item in value %}
          <a href="{{LinkHome}}/officecodes?npa-nxx={{npa_code}}-{{item}}">{{item}}&nbsp</a>
      {% endfor %}
{% endfor %}

<br><br><br><br>
<img src="{{myurl}}{{USACMapFilePath}}{{ac_tuple[0][8]}}.gif"></img><br>
<img src="{{myurl}}{{USACMapFilePath}}{{ac_tuple[0][8]}}-inset1.gif"></img><br>
<img src="{{myurl}}{{USACMapFilePath}}{{ac_tuple[0][8]}}-inset2.gif"></img><br>
<img src="{{myurl}}{{StateFilePath}}{{ac_tuple[0][8]}}.png"></img><br>
{% endblock content %}