<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NANPA Info</title>
</head>
<body>
<center>
    <img src="phone.jpg" height="10%" width="7%">
    <h1>Phone Number Information</h1>
    <p>An API that provides NANPA phone number information
    <h4><a href={{LinkHome}}>Home</a></h4>
    </p>
    <hr width="500">
</center>
<br>
<div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
        {% block content %}{% endblock content %}
    </div>
</div>
</body>
<footer>
    <center><br><br><br><br>
        <hr width="500">
        <p>
            <h4><a href={{LinkHome}}>Home</a></h4>
            API by: Mike O'Halloran<br>
            ohalloranmike@outlook.com<br>
        </p>
    </center>
</footer>
</html>
