{% extends "base_template.html" %}
{% block content %}
<h2><font color="darkblue">OfficeCode:  {{npanxx}}</font></h2>
<h2><font color="darkblue">{{state_name}} - {{state}}</font></h2>
<h3><font color="darkblue">NPA-NXX info:&nbsp{{npanxx}}</font></h3>
{% for key, value in acoc_return.items() %}
      {{key}}:&nbsp&nbsp
      <b>{{value}}</b><br>
{% endfor %}

<h3><font color="darkblue">NPA info:&nbsp{{npa_code}}</font></h3>
{% for key, value in ac_return.items() %}
      {{key}}:&nbsp&nbsp
      <b>{{value}}</b><br>
{% endfor %}
<br><br>
<img src="{{myurl}}{{CanadaFilePath}}{{mapfile}}"></img><br>
<img src="{{myurl}}{{CanadaFilePath}}canada.png"></img><br>
<img src="{{myurl}}{{CanadaFilePath}}canadapt.png"></img><br>
{% endblock content %}</html>